* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: "Inder", sans-serif;
    background-color: #F7FFED;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #183D41;
    height: 13vh;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Krona One", sans-serif;
}

h1 {
    color: white;
    font-size: 2.43vw;
}

#div-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.63vw;
}

a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 1vh 2vw;
    font-size: 1vw;
}

#nav-marcada {
    background-color: #135068;
}

#nav-marcada:hover {
    transition: background 0.5s ease-in-out;
    background-color: #1a7193;
}

a:hover {
    transition: filter 0.5s ease-in-out, background 0.5s ease-in-out;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    background-color: #1a7193;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    height: 87vh;
}

#div-condominio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

#titulo-condominio {
    font-size: 2.5vw;
    font-family: "Krona One", sans-serif;
    padding-bottom: 2vh;
}

#secao-condominio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a8b4ac;
    padding: 2vh;
    height: 45vh;
    width: 34vw;
    border-radius: 10px;
    height: auto;
    width: auto;
}

#secao-blocos {
    border-radius: 10px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 9.25vw);
    grid-template-rows: repeat(3, 15.82vh);
    grid-template-areas:
    "bloco-1 bloco-1 bloco-4 bloco-5"
    "bloco-2 bloco-3 bloco-4 bloco-5"
    "bloco-2 bloco-3 bloco-6 bloco-6"
    ;
    grid-column-gap: 1.25vw;
    grid-row-gap: 1.66vh;
}

#bloco-1 {
    grid-area: bloco-1;
    border-top-left-radius: 10px;
}

#bloco-2 {
    grid-area: bloco-2;
    border-bottom-left-radius: 10px;
}

#bloco-3 {
    grid-area: bloco-3;
}

#bloco-4 {
    grid-area: bloco-4;
}

#bloco-5 {
    grid-area: bloco-5;
    border-top-right-radius: 10px;
}

#bloco-6 {
    grid-area: bloco-6;
    border-bottom-right-radius: 10px;
}

.bloco {
    border: 2px solid black;
    font-size: 1.5vw;
    background-color: #a8b4ac;
    cursor: pointer;
    height: 100%;
    width: 100%;
    font-family: "Inder", sans-serif;
}

.bloco:hover {
    transition: background 0.5s ease-in-out;
    background-color: #83ccc5;
}

#div-apartamento {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    transition: 3s;
}

#titulo-apartamento {
    font-size: 2vw;
    font-family: "Krona One", sans-serif;
    padding-bottom: 2vh;
}

#secao-apartamento {
    background-color: #a8b4ac;
    padding: 1vh;
    height: 50vh;
    width: 25vw;
    border: 2px solid black;
    border-radius: 10px;
}

#secao-lista-maior {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "apto1-maior apto2-maior apto3-maior"
    "apto4-maior apto5-maior apto6-maior"
    "apto7-maior apto8-maior apto9-maior"
    "apto10-maior apto11-maior apto12-maior"
    ;
    text-align: center;
    height: 100%;
    width: 100%;
    gap: 1vh;
}

#apto1-maior {
    grid-area: apto1-maior;
    border-top-left-radius: 10px;
}

#apto2-maior {
    grid-area: apto2-maior;
}

#apto3-maior {
    grid-area: apto3-maior;
    border-top-right-radius: 10px;
}

#apto4-maior {
    grid-area: apto4-maior;
}

#apto5-maior {
    grid-area: apto5-maior;
}

#apto6-maior {
    grid-area: apto6-maior;
}
#apto7-maior {
    grid-area: apto7-maior;
}

#apto8-maior {
    grid-area: apto8-maior;
}

#apto9-maior {
    grid-area: apto9-maior;
}

#apto10-maior {
    grid-area: apto10-maior;
    border-bottom-left-radius: 10px;
}

#apto11-maior {
    grid-area: apto11-maior;
}

#apto12-maior {
    grid-area: apto12-maior;
    border-bottom-right-radius: 10px;
}

.botao-apartamento {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    font-family: "Inder", sans-serif;
    font-size: 1.2vw;
    background-color: #a8b4ac;
    cursor: pointer;
}

.botao-apartamento:hover {
    transition: background 0.5s ease-in-out;
    background-color: #83ccc5;
}

#secao-lista-menor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "apto1-menor apto2-menor"
    "apto3-menor apto4-menor"
    "apto5-menor apto6-menor"
    "apto7-menor apto8-menor"
    "apto9-menor apto10-menor"
    ;
    text-align: center;
    height: 100%;
    width: 100%;
    gap: 1vh;
}

#apto1-menor {
    grid-area: apto1-menor;
    border-top-left-radius: 10px;
}

#apto2-menor {
    grid-area: apto2-menor;
    border-top-right-radius: 10px;
}

#apto3-menor {
    grid-area: apto3-menor;
}

#apto4-menor {
    grid-area: apto4-menor;
}

#apto5-menor {
    grid-area: apto5-menor;
}

#apto6-menor {
    grid-area: apto6-menor;
}
#apto7-menor {
    grid-area: apto7-menor;
}

#apto8-menor {
    grid-area: apto8-menor;
}

#apto9-menor {
    grid-area: apto9-menor;
    border-bottom-left-radius: 10px;
}

#apto10-menor {
    grid-area: apto10-menor;
    border-bottom-right-radius: 10px;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: 15vh auto;
    background: linear-gradient(to bottom, #183D41 18%, #a8b4ac 0%);
    padding: 2vw;
    width: 70%;
    height: 65vh;
    border-radius: 10px;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(153, 1, 1);
    text-decoration: none;
    cursor: pointer;
}

#titulo-moradores{
    color: white;
}