* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: "Inder", sans-serif;
    background-color: #F7FFED;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #183D41;
    height: 13vh;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Krona One", sans-serif;
}

h1 {
    color: white;
    font-size: 2.43vw;
}

#div-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.63vw;
}

a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 1vh 2vw;
    font-size: 1vw;
}

#nav-marcada {
    background-color: #135068;
}

#nav-marcada:hover {
    transition: background 0.5s ease-in-out;
    background-color: #1a7193;
}

a:hover {
    transition: filter 0.5s ease-in-out, background 0.5s ease-in-out;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    background-color: #1a7193;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    height: 87vh;
}

#div-condominio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

#titulo-condominio {
    font-size: 2.5vw;
    font-family: "Krona One", sans-serif;
    padding-bottom: 2vh;
}

#secao-condominio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a8b4ac;
    padding: 2vh;
    height: 45vh;
    width: 34vw;
    border-radius: 10px;
    height: auto;
    width: auto;
}

#secao-blocos {
    border-radius: 10px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 9.25vw);
    grid-template-rows: repeat(3, 15.82vh);
    grid-template-areas:
    "bloco-1 bloco-1 bloco-4 bloco-5"
    "bloco-2 bloco-3 bloco-4 bloco-5"
    "bloco-2 bloco-3 bloco-6 bloco-6"
    ;
    grid-column-gap: 1.25vw;
    grid-row-gap: 1.66vh;
}

#bloco-1 {
    grid-area: bloco-1;
    border-top-left-radius: 10px;
}

#bloco-2 {
    grid-area: bloco-2;
    border-bottom-left-radius: 10px;
}

#bloco-3 {
    grid-area: bloco-3;
}

#bloco-4 {
    grid-area: bloco-4;
}

#bloco-5 {
    grid-area: bloco-5;
    border-top-right-radius: 10px;
}

#bloco-6 {
    grid-area: bloco-6;
    border-bottom-right-radius: 10px;
}

.bloco {
    border: 2px solid black;
    font-size: 1.5vw;
    background-color: #a8b4ac;
    cursor: pointer;
    height: 100%;
    width: 100%;
    font-family: "Inder", sans-serif;
}

.bloco:hover {
    transition: background 0.5s ease-in-out;
    background-color: #83ccc5;
}

#div-apartamento {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    transition: 3s;
}

#titulo-apartamento {
    font-size: 2vw;
    font-family: "Krona One", sans-serif;
    padding-bottom: 2vh;
}

#secao-apartamento {
    background-color: #a8b4ac;
    padding: 1vh;
    height: 50vh;
    width: 25vw;
    border: 2px solid black;
    border-radius: 10px;
}

#secao-lista-maior {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "apto1-maior apto2-maior apto3-maior"
    "apto4-maior apto5-maior apto6-maior"
    "apto7-maior apto8-maior apto9-maior"
    "apto10-maior apto11-maior apto12-maior"
    ;
    text-align: center;
    height: 100%;
    width: 100%;
    gap: 1vh;
}

#apto1-maior {
    grid-area: apto1-maior;
    border-top-left-radius: 10px;
}

#apto2-maior {
    grid-area: apto2-maior;
}

#apto3-maior {
    grid-area: apto3-maior;
    border-top-right-radius: 10px;
}

#apto4-maior {
    grid-area: apto4-maior;
}

#apto5-maior {
    grid-area: apto5-maior;
}

#apto6-maior {
    grid-area: apto6-maior;
}
#apto7-maior {
    grid-area: apto7-maior;
}

#apto8-maior {
    grid-area: apto8-maior;
}

#apto9-maior {
    grid-area: apto9-maior;
}

#apto10-maior {
    grid-area: apto10-maior;
    border-bottom-left-radius: 10px;
}

#apto11-maior {
    grid-area: apto11-maior;
}

#apto12-maior {
    grid-area: apto12-maior;
    border-bottom-right-radius: 10px;
}

.botao-apartamento {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    font-family: "Inder", sans-serif;
    font-size: 1.2vw;
    background-color: #a8b4ac;
    cursor: pointer;
}

.botao-apartamento:hover {
    transition: background 0.5s ease-in-out;
    background-color: #83ccc5;
}

#secao-lista-menor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "apto1-menor apto2-menor"
    "apto3-menor apto4-menor"
    "apto5-menor apto6-menor"
    "apto7-menor apto8-menor"
    "apto9-menor apto10-menor"
    ;
    text-align: center;
    height: 100%;
    width: 100%;
    gap: 1vh;
}

#apto1-menor {
    grid-area: apto1-menor;
    border-top-left-radius: 10px;
}

#apto2-menor {
    grid-area: apto2-menor;
    border-top-right-radius: 10px;
}

#apto3-menor {
    grid-area: apto3-menor;
}

#apto4-menor {
    grid-area: apto4-menor;
}

#apto5-menor {
    grid-area: apto5-menor;
}

#apto6-menor {
    grid-area: apto6-menor;
}
#apto7-menor {
    grid-area: apto7-menor;
}

#apto8-menor {
    grid-area: apto8-menor;
}

#apto9-menor {
    grid-area: apto9-menor;
    border-bottom-left-radius: 10px;
}

#apto10-menor {
    grid-area: apto10-menor;
    border-bottom-right-radius: 10px;
}

#blur {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#modal {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #a8b4ac;
    padding-bottom: 2vh;
    width: 70vw;
    height: 75vh;
    border-radius: 10px;
    z-index: 3;
}

#div-titulo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #183D41;
    width: 100%;
    height: 8.3vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#fechar-modal {
    width: 2.5vw;
    border-radius: 50%;
    position: absolute;
    right: 0;
    margin-right: 0.5vw;
    cursor: pointer;
    cursor: pointer;
}

#fechar-modal:hover {
    filter: brightness(70%);
}

#modal-titulo{
    font-size: 1.5vw;
    color: white;
    font-family: "Krona One", sans-serif;
}

#lista-moradores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
    max-height: 50vh;
    overflow-y: auto; 
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.card-morador {
    padding-left: 2.5vw;
    display: flex;
    justify-content: center;
    align-items:center;
    background: linear-gradient(to right, #183D41 15%, #6a8284 0%);
    height: 45vh;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    min-width: 16vw;
}

.card-titulo{
    font-size: 1.5vw;
    font-weight: 500;
    color: #FFFFFF;
    font-family: "Krona One", sans-serif;
}

.card-informacoes{
    padding-top: 13vh;
}

.card-buttons{
    padding-top: 5vh;
}

.card-button1{
    padding-bottom: 1vh;
}

.card-editar{
    display: flex;
    justify-content: center;
    align-items:center;
    border: none;
    background-color: #272829;
    color: white;
    font-family: "Roboto", sans-serif;
    height: 4.1vh;
    width: 12vw;
    font-size: 1vw;
    font-weight: 500;
    border-radius: 4px;
}

.card-excluir{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: #6a8284;
    font-family: "Roboto", sans-serif;
    height: 4.1vh;
    width: 12vw;
    font-size: 1vw;
    font-weight: 500;
    border-radius: 4px;
}

#modal-concluir {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #272829;
    font-family: "Roboto", sans-serif;
    font-size: 1.04vw;
    font-weight: 500;
    color: #FFFFFF;
    width: 24.3vw;
    height: 4.1vh;
    border-radius: 5px;
    cursor: pointer;
}

#modal-concluir:hover {
    transition: background 2s ease-in-out;
    background-color: #565859;
}