/* Geral */
* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: "Inder", sans-serif;
    background-color: #F7FFED;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #183D41;
    height: 13vh;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Krona One", sans-serif;
}

/* Header */
h1 {
    color: white;
    font-size: 2.43vw;
}

#div-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.63vw;
}

a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 1vh 2vw;
    font-size: 1vw;
}

#nav-marcada {
    background-color: #135068;
}

#nav-marcada:hover {
    transition: background 0.5s ease-in-out;
    background-color: #1a7193;
}

a:hover {
    transition: filter 0.5s ease-in-out, background 0.5s ease-in-out;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    background-color: #1a7193;
}

/* Lista de Blocos */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    height: 87vh;
}

#div-condominio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

#titulo-condominio {
    font-size: 2.5vw;
    font-family: "Krona One", sans-serif;
    padding-bottom: 2vh;
}

#secao-condominio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a8b4ac;
    padding: 2vh;
    height: 45vh;
    width: 34vw;
    border-radius: 10px;
    height: auto;
    width: auto;
}

#secao-blocos {
    border-radius: 10px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 9.25vw);
    grid-template-rows: repeat(3, 15.82vh);
    grid-template-areas:
    "bloco-1 bloco-1 bloco-4 bloco-5"
    "bloco-2 bloco-3 bloco-4 bloco-5"
    "bloco-2 bloco-3 bloco-6 bloco-6"
    ;
    grid-column-gap: 1.25vw;
    grid-row-gap: 1.66vh;
}

#bloco-1 {
    grid-area: bloco-1;
    border-top-left-radius: 10px;
}

#bloco-2 {
    grid-area: bloco-2;
    border-bottom-left-radius: 10px;
}

#bloco-3 {
    grid-area: bloco-3;
}

#bloco-4 {
    grid-area: bloco-4;
}

#bloco-5 {
    grid-area: bloco-5;
    border-top-right-radius: 10px;
}

#bloco-6 {
    grid-area: bloco-6;
    border-bottom-right-radius: 10px;
}

.bloco {
    border: 2px solid black;
    font-size: 1.5vw;
    background-color: #a8b4ac;
    cursor: pointer;
    height: 100%;
    width: 100%;
    font-family: "Inder", sans-serif;
}

.bloco:hover {
    transition: background 0.5s ease-in-out;
    background-color: #83ccc5;
}

/* Lista de Apartamentos */
#div-apartamento {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

#titulo-apartamento {
    font-size: 2vw;
    font-family: "Krona One", sans-serif;
    padding-bottom: 2vh;
}

#secao-apartamento {
    background-color: #a8b4ac;
    padding: 1vh;
    height: 50vh;
    width: 25vw;
    border: 2px solid black;
    border-radius: 10px;
}

#secao-lista-maior {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "apto1-maior apto2-maior apto3-maior"
    "apto4-maior apto5-maior apto6-maior"
    "apto7-maior apto8-maior apto9-maior"
    "apto10-maior apto11-maior apto12-maior"
    ;
    text-align: center;
    height: 100%;
    width: 100%;
    gap: 1vh;
}

#apto101-maior {
    grid-area: apto1-maior;
    border-top-left-radius: 10px;
}

#apto102-maior {
    grid-area: apto2-maior;
}

#apto103-maior {
    grid-area: apto3-maior;
    border-top-right-radius: 10px;
}

#apto201-maior {
    grid-area: apto4-maior;
}

#apto202-maior {
    grid-area: apto5-maior;
}

#apto203-maior {
    grid-area: apto6-maior;
}
#apto301-maior {
    grid-area: apto7-maior;
}

#apto302-maior {
    grid-area: apto8-maior;
}

#apto303-maior {
    grid-area: apto9-maior;
}

#apto401-maior {
    grid-area: apto10-maior;
    border-bottom-left-radius: 10px;
}

#apto402-maior {
    grid-area: apto11-maior;
}

#apto403-maior {
    grid-area: apto12-maior;
    border-bottom-right-radius: 10px;
}

.botao-apartamento {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    font-family: "Inder", sans-serif;
    font-size: 1.2vw;
    background-color: #a8b4ac;
    cursor: pointer;
}

.botao-apartamento:hover {
    transition: background 0.5s ease-in-out;
    background-color: #83ccc5;
}

#secao-lista-menor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "apto1-menor apto2-menor"
    "apto3-menor apto4-menor"
    "apto5-menor apto6-menor"
    "apto7-menor apto8-menor"
    "apto9-menor apto10-menor"
    ;
    text-align: center;
    height: 100%;
    width: 100%;
    gap: 1vh;
}

#apto101-menor {
    grid-area: apto1-menor;
    border-top-left-radius: 10px;
}

#apto102-menor {
    grid-area: apto2-menor;
    border-top-right-radius: 10px;
}

#apto201-menor {
    grid-area: apto3-menor;
}

#apto202-menor {
    grid-area: apto4-menor;
}

#apto301-menor {
    grid-area: apto5-menor;
}

#apto302-menor {
    grid-area: apto6-menor;
}
#apto401-menor {
    grid-area: apto7-menor;
}

#apto402-menor {
    grid-area: apto8-menor;
}

#apto501-menor {
    grid-area: apto9-menor;
    border-bottom-left-radius: 10px;
}

#apto502-menor {
    grid-area: apto10-menor;
    border-bottom-right-radius: 10px;
}

/* Blur */
#blur {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Lista de Moradores */
#modal-lista {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #a8b4ac;
    padding-bottom: 2vh;
    width: 70vw;
    height: 75vh;
    border-radius: 10px;
    z-index: 3;
}

#div-titulo-lista {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #183D41;
    width: 100%;
    height: 8.3vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#fechar-modal-lista {
    width: 2.5vw;
    border-radius: 50%;
    position: absolute;
    right: 0;
    margin-right: 0.5vw;
    cursor: pointer;
    cursor: pointer;
}

#fechar-modal-lista:hover {
    filter: brightness(70%);
}

#modal-titulo-lista{
    font-size: 1.5vw;
    color: white;
    font-family: "Krona One", sans-serif;
}

#lista-moradores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
    max-height: 50vh;
    overflow-y: auto; 
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#modal-vazio {
    display: none;
    font-size: 1.5vw;
    color: #000000;
    font-family: "Krona One", sans-serif;
    padding-bottom: 15vh;
}

/* Cards de Moradores */
.card-morador {
    padding-left: 2.8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #183D41 15%, #6a8284 0%);
    height: 45vh;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    min-width: 16vw;
}

.card-div-titulo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #516e6f;
    width: 100%;
    margin-right: 0.1vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 11.71vh;
}

.card-titulo {
    font-size: 1.5vw;
    color: #FFFFFF;
    font-family: "Krona One", sans-serif;
    font-weight: 500;
    text-align: start;
    max-width: 10vw;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    line-clamp: 2;
    box-orient: vertical;
    
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-div-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.card-imagem {
    width: 3vw;
}

.card-informacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 14vw;
}

.card-texto {
    font-size: 0.8vw;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}

.card-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.card-editar{
    display: flex;
    justify-content: center;
    align-items:center;
    border: none;
    background-color: #272829;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    height: 4.1vh;
    width: 12vw;
    font-size: 0.8vw;
    border-radius: 4px;
    cursor: pointer;
}

.card-excluir{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: #6a8284;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    height: 4.1vh;
    width: 12vw;
    font-size: 0.8vw;
    border-radius: 4px;
    cursor: pointer;
}

.card-editar:hover {
    transition: background 0.5s ease-in-out;
    background-color: #3e4041;
}

.card-excluir:hover {
    transition: border 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
    border-color: #3e4041;
    color: #3e4041;
}

#modal-concluir-lista {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #272829;
    font-family: "Roboto", sans-serif;
    font-size: 1.04vw;
    font-weight: 500;
    color: #FFFFFF;
    width: 24.3vw;
    height: 4.1vh;
    border-radius: 5px;
    cursor: pointer;
}

#modal-concluir-lista:hover {
    transition: background 0.5s ease-in-out;
    background-color: #3e4041;
}

/* Modal de Cadastro de Moradores */
#modal-cadastro {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #a8b4ac;
    padding-bottom: 2vh;
    width: 49.93vw;
    height: 75vh;
    border-radius: 10px;
    z-index: 3;
}

#div-titulo-cadastro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #183D41;
    width: 100%;
    height: 8.3vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#fechar-modal-cadastro {
    width: 2.5vw;
    border-radius: 50%;
    position: absolute;
    right: 0;
    margin-right: 0.5vw;
    cursor: pointer;
    cursor: pointer;
}

#fechar-modal-cadastro:hover {
    filter: brightness(70%);
}

#modal-titulo-cadastro{
    font-size: 1.5vw;
    color: white;
    font-family: "Krona One", sans-serif;
}

#formulario-cadastro {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 40vh;
    width: 80%;
}

.modal-div-secao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal-div-input {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.modal-label {
    font-size: 1.5vw;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.modal-input {
    font-size: 1.5vw;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 5px;
    width: 18vw;
    padding: 0.5vh 0.5vw;
}

div:has(> #email) {
    width: 100%;
}

#email {
    width: 97%;
}

#data {
    width: 13vw;
}

#modal-div-botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

#modal-concluir-cadastro-salvar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #272829;
    font-family: "Roboto", sans-serif;
    font-size: 1.04vw;
    font-weight: 500;
    color: #FFFFFF;
    width: 18.26vw;
    height: 4.1vh;
    border-radius: 5px;
    cursor: pointer;
}

#modal-concluir-cadastro-cancelar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: #a8b4ac;
    font-family: "Roboto", sans-serif;
    font-size: 1.04vw;
    font-weight: 500;
    color: #000000;
    width: 18.26vw;
    height: 4.1vh;
    border-radius: 5px;
    cursor: pointer;
}

#modal-concluir-cadastro-salvar:hover {
    transition: background 0.5s ease-in-out;
    background-color: #3e4041;
}

#modal-concluir-cadastro-cancelar:hover {
    transition: border 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
    border-color: #3e4041;
    color: #3e4041;
}

@media (max-width: 600px) {
    header {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    h1 {
        font-size: 3vw;
    }

    a {
        padding: 1vh 1.5vw;
        font-size: 2vw;
    }

    main {
        flex-direction: column;
        gap: 4vh;
        height: auto;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    
    #titulo-condominio {
        font-size: 4vw;
    }

    #secao-condominio {
        background-color: transparent;
    }
    
    #secao-blocos {
        grid-template-columns: repeat(3, 18.25vw);
        grid-template-rows: repeat(4, 9.82vh);
        grid-template-areas:
        "bloco-5 bloco-5 bloco-6"
        "bloco-4 bloco-4 bloco-6"
        "bloco-1 bloco-3 bloco-3"
        "bloco-1 bloco-2 bloco-2"
        ;
    }

    #bloco-1 {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 0px;
    }
    
    #bloco-2 {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    
    #bloco-5 {
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
    }
    
    #bloco-6 {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
    }

    .bloco {
        font-size: 3.5vw;
        background-color: transparent;
    }

    #titulo-apartamento {
        font-size: 3vw;
    }
    
    #secao-apartamento {
        background-color: transparent;
        width: 50vw;
        border: none;
    }

    .botao-apartamento {
        font-size: 3vw;
        background-color: transparent;
    }

    #modal-lista {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        background-color: #a8b4ac;
        padding-bottom: 2vh;
        width: 70vw;
        height: 85vh;
        border-radius: 10px;
        z-index: 3;
    }

    #div-titulo-cadastro {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    #fechar-modal-lista {
        width: 4.5vw;
        margin-right: 1.5vw;
    }

    #modal-titulo-lista{
        font-size: 3vw;
    }

    #lista-moradores{
        flex-direction: column;
        max-height: none;
        height: auto;
        gap: 2vh;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-top: 65vh;
        padding-bottom: 5vh;
    }
    
    #modal-vazio {
        font-size: 3vw;
    }

    .card-morador {
        background: linear-gradient(to right, #183D41 6%, #6a8284 0%);
        height: 70vh;
        gap: 5vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
        min-width: 40vw;
    }
    
    .card-div-titulo {
        height: 8.71vh;
    }
    
    .card-titulo {
        font-size: 3vw;
        max-width: 25vw;
    }
    
    .card-div-imagem {
        width: 10vw;
        height: 10vw;
    }
    
    .card-imagem {
        width: 8vw;
    }
    
    .card-informacoes{
        width: 30vw;
    }
    
    .card-texto {
        font-size: 2vw;
    }
    
    .card-editar{
        width: 25vw;
        font-size: 2vw;
    }
    
    .card-excluir{
        width: 25vw;
        font-size: 2vw;
    }
    
    #modal-concluir-lista {
        font-size: 2.5vw;
        width: 40vw;
    }

    #modal-cadastro {
        width: 70vw;
        height: 65vh;
    }
    
    #div-titulo-cadastro {
        width: 100%;
        height: 8.3vh;
    }
    
    #fechar-modal-cadastro {
        width: 4.5vw;
        margin-right: 1.5vw;
    }
    
    #modal-titulo-cadastro{
        font-size: 3vw;
    }
    
    #formulario-cadastro {
        height: 30vh;
    }
    
    .modal-label {
        font-size: 2.5vw;
    }
    
    .modal-input {
        font-size: 2.5vw;
        width: 25vw;
    }
    
    #email {
        width: 97%;
    }
    
    #data {
        width: 20vw;
    }
    
    #modal-concluir-cadastro-salvar {
        font-size: 2.5vw;
        width: 25vw;
    }
    
    #modal-concluir-cadastro-cancelar {
        font-size: 2.5vw;
        width: 25vw;
    }
}